/*#main {margin:0; padding:0;}*/
        @media screen and (max-width: 599px) {
            .logo_bar ul {width: 17%;}

        }
        @media screen and (min-width: 600px)and (max-width: 767px) {
            .logo_bar ul {width: 33%;}
            #content_wrap #content p { font-size: 1.5em; font-weight: bold;}
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
            .logo_bar ul {width: 50%;}
        }
        @media (max-width: 575px){
        .why-us img {
            min-height: 200px; width:400px;
        }}

        @media (max-width: 992px){
        .why-us img {
            min-height: 400px; width:800px;
        }}

        #main #section_2 {
            width: 100%; background-color: white; margin:0 auto;
            /*font-family: "Open Sans", snas-serif;*/
        }
        #section_2 li, #section_3 li { list-style: none;}
        #section_2 a, #section_3 a{text-decoration: none; color: #343A40;}

        .logo_bar ul{
            float:left; background-color: rgb(243, 245, 250);;
            display: block;
            width: 100%; margin:0 auto; text-align: center;
            /*overflow: hidden;*/
        }
        .logo_bar ul li img {
            text-align: center;
            display: block;
            float:left;
            margin-left:110px;
            margin-top:20px;
            margin-bottom:20px;
            padding: 8px 10px 8px 0;
            -webkit-filter: grayscale(100%);
            /*filter: gray;*/
            height: 50px;
            box-sizing: border-box;
        }

        #section_2 .logo_bar .client-1:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }
        #section_2 .logo_bar .client-2:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }
        #section_2 .logo_bar .client-3:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }
        #section_2 .logo_bar .client-4:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }
        #section_2 .logo_bar .client-5:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }
        #section_2 .logo_bar .client-6:hover{
            -webkit-filter: grayscale(0%);
            filter:none;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
             transition: 0.3s ease-in-out;
        }

        #section_2 .about_us h1{text-align: center; margin:0 auto;
        display: block; margin-top: 50px;}

        #section_2 .about_us {margin:0 auto; display: block;
        overflow: hidden; width: 100%;}

        #section_2 .side {margin:0 auto; display:inline-block;
         float:left; box-sizing: border-box;}

        #section_2 .side .left_side { display: inline; float:left;
        box-sizing: border-box; width:35%; margin-left: 15%;}

        #section_2 .right_side { display: inline; float:left;
        box-sizing: border-box; width:35%; margin-right: 15%;}


        #section_2 .left_side p{margin-left: 100px;}

        #section_2 .right_side .learn_more {background-color: white; text-align: center;
        border-radius: 5px; border: 2px solid #00a6eb; color: #00a6eb;
        padding: 10px 35px; font-weight: bold;}

        #section_2 .right_side .learn_more:hover {background-color: #00a6eb; color: white;}

        #section_3 h1{color: #37517E;}

        #section_3 .why img {float:right; margin:0 auto;
        }

        #section_3 .main-menu {
            display: block; padding: 10px 2px;
            text-align: left; position:relative;
        }

        /*.main-menu a:-webkit-any-link*/
        /*{cursor: pointer;*/
        /*}*/
        #section_3 .main-menu a:hover {
            color: #00a6eb;
        }
        #section_3 .main-menu a:active{
            color : #00a6eb;
        }